footer {
    background-color: rgb(57, 2, 79);
    width: 99%;
    padding: 60px 10px;
    position: absolute;
    margin-top: 10px;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px;
    text-align: center;
    align-items: center;
    width: 85%;
    margin: 10px auto;
    padding-top: 30px;
}

.footer-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(29, 29, 29);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.footer-logo-container h2 {
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin: 10px;
    font-size: 25px;
    text-decoration:  underline;
    text-underline-offset: 3px;
    padding-bottom: 20px;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social .fa {
    padding: 6px;
}
.footer-social a {
    margin: 0px 6px;
    border-radius: 50%;
    color: #212121;
    background-color: white;
    border: 1px rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.footer-social a:hover {
    background-color: orangered;
    color: white;
    transition: all ease 0.3s;
}
.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-menu-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
    
}
.footer-menu-box h2 {
    color: #fcfcfc;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 10px;
    user-select: none;
}
.footer-menu-box ul li ,
.footer-menu-box ul li a {
    list-style: none;
    color: #cecece;
    font-size: 18px;
    margin: 5px 0px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
    cursor: pointer;
}

.footer-menu-box ul li ,
.footer-menu-box ul li a:hover {
    color: orange;
}

.copyright {
    padding: 15px;
    color: #e8e8e8;
    width: 99%;
    height: 35px;
    background-color: rgb(121, 4, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    position:absolute;
    user-select: none;
}
@media(max-width:850px) {
    .footer-container {
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 300px 300px 300px 300px;
        text-align: center;
        align-items: center;
        width: 85%;
        margin: 10px auto;
        padding-top: 30px;
    }
}
@media(max-width:400px) {
    .footer-container {
        grid-template-columns: 1fr  ;
        grid-template-rows: 300px 300px 300px 300px 300px;
    }
}
