footer {
    height: auto;
    background:#303030 ;
 }
 footer .footer-content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     margin-left: 20px;
 }
 footer .footer-content h3 {
     font-size: 20px;
     font-weight: 800;
     margin-bottom:10px;
     text-transform: uppercase;
 
 }
 footer .footer-content .socials {
     display: flex;
     list-style: none;
     align-items: center;
     justify-content: center;
     z-index: 99;
 }
 footer .footer-content .socials li {
     margin: 5px 11px;
     margin-bottom: 25px;
 }
 footer .footer-content .socials li a {
     color: #fff;
     font-size: 17px;
 }
 footer .footer-content .socials li a:hover {
     color: rgb(5, 157, 252);
 }
 
 footer .footer-content .footer-bottom p{
     letter-spacing: 1px;
     font-size: 20px;
 }
 footer .footer-content .footer-bottom p span {
     color: yellow;
 }
 footer .footer-content center {
    margin-top: 50px;
 }
 @media(max-width:1000px) {
    footer .footer-content {
        margin-left: 20px;
    }
    footer .footer-content h3 {
        font-size: 18px;
        margin-bottom:10px;
    }
    footer .footer-content .socials li {
        margin: 5px 11px;
        margin-bottom: 25px;
    }
    footer .footer-content .socials li a {
        font-size: 17px;
    }
    footer .footer-content .footer-bottom p{
        letter-spacing: 1px;
        font-size: 17px;
    }
    footer .footer-content center {
       margin-top: 50px;
    }
 }
 @media(max-width:800px) {
    footer .footer-content {
        margin-left: 20px;
    }
    footer .footer-content h3 {
        font-size: 16px;
        margin-bottom:10px;
    }
    footer .footer-content .socials li {
        margin: 5px 11px;
        margin-bottom: 25px;
    }
    footer .footer-content .socials li a {
        font-size: 17px;
    }
    footer .footer-content .footer-bottom p{
        letter-spacing: 1px;
        font-size: 14px;
    }
    footer .footer-content center {
       margin-top: 50px;
    }
 }
 @media(max-width:600px) {
    footer .footer-content {
        margin-left: 20px;
    }
    footer .footer-content h3 {
        font-size: 15px;
        margin-bottom:10px;
    }
    footer .footer-content .socials li {
        margin: 5px 11px;
        margin-bottom: 25px;
    }
    footer .footer-content .socials li a {
        font-size: 15px;
    }
    footer .footer-content .footer-bottom p{
        letter-spacing: 1px;
        font-size: 13px;
    }
    footer .footer-content center {
       margin-top: 50px;
    }
 }
 @media(max-width:450px) {
    footer .footer-content h3 {
        font-size: 14px;
        margin-bottom:10px;
    }
    footer .footer-content .socials li a {
        font-size: 14px;
    }
    footer .footer-content .footer-bottom p{
        letter-spacing: 1px;
        font-size: 12px;
    }
 }
 @media(max-width:400px) {
    footer .footer-content h3 {
        font-size: 13px;
        margin-bottom:10px;
    }
    footer .footer-content .socials li a {
        font-size: 14px;
    }
    footer .footer-content .footer-bottom p{
        letter-spacing: 1px;
        font-size: 11px;
    }
 }
 @media(max-width:350px) {
    footer .footer-content {
        margin-left: 10px;
    }
    footer .footer-content h3 {
        font-size: 12px;
        margin-bottom:10px;
    }
    footer .footer-content .socials li a {
        font-size: 13px;
    }
    footer .footer-content .footer-bottom p{
        letter-spacing: 1px;
        font-size: 10px;
    }
 }
 @media(max-width:270px) {
    footer .footer-content {
        margin-left: 0px;
    }
    footer .footer-content h3 {
        font-size: 9px;
        margin-bottom:10px;
    }
    footer .footer-content .socials li a {
        font-size: 12px;
    }
    footer .footer-content .footer-bottom p{
        letter-spacing: 1px;
        font-size: 8px;
    }
 }
