
.body {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(57, 2, 79); */
    background: linear-gradient(rgb(6, 132, 195),rgb(65, 3, 99));
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    border: 1px white solid;
    width: 550px;
    height: 800px;
    border-radius: 15px;
    background-color: white;

}

h3 {
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: rgb(68, 67, 67);
    padding-bottom: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
}
.Username ,
.Password {
    border: none;
    user-select: none;
    border: 1px rgb(142, 142, 142) solid;
    text-decoration-color: black;
    font-size: 26px;
    padding: 15px 10px;
    border-radius: 25px;
    width: 400px;
    margin:23px 0;
}
.submit button {
    width: 250px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 40px;
}
.far {
    font-size: 25px;
    padding: 0 10px ;
}
.check, 
.submit {
    padding: 30px 0;
    font-size: 20px;
    user-select: none;
}
.createAcc {
    text-underline-offset: 5px;
    text-decoration-color: rgb(138, 139, 139);
    color: rgb(23, 22, 22);
    padding: 10px;
    font-size: 20px
}
button {
     background-color: rgb(48, 102, 229); 
    color: rgb(253, 253, 253);
    text-transform: uppercase;
    cursor: pointer;
}
.savepassword {
    cursor: pointer;
}

@media(max-width:1200px) {
    .login-container {
        width:500px ;
        height: 650px;
    }
    h3 {
        font-size: 30px;
        padding-bottom: 35px;
    }
    .Username ,
    .Password {
        width: 350;
        margin: 18px 0;
        font-size: 23px;
    }
    .submit button {
        width: 200px;
        margin-left: 10px;
    }
    .check, 
    .submit {
        padding: 20px 0;
    }
}
@media(max-width:800px) {
    .login-container {
        width:400px ;
        height: 550px;
    }
    h3 {
        font-size: 25px;
        padding-bottom: 25px;
    }
    .Username ,
    .Password {
        width: 260px;
        margin: 10px 0;
        font-size: 20px;
        padding: 10px 0;
        border-radius: 13px;
    }
    .submit button {
        width: 150px;
        margin-left: 10px;
        font-size: 15px;
    }
    .check, 
    .submit {
        padding: 20px 0;
        margin: 0;
    }
}
@media (max-width:500px) {
    .login-container {
        width:350px ;
        height: 550px;
        padding: 0;
        margin: 0;
    }
    h3 {
        font-size: 25px;
        padding-bottom: 25px;
    }
    .Username ,
    .Password {
        width: 250px;
        margin: 10px 0;
        font-size: 18px;
        padding: 10px 0;
    }
    .submit button {
        width: 150px;
        margin-left: 10px;
        font-size: 15px;
    }
    .check, 
    .submit {
        padding: 20px 0;
        margin: 0;
    }
    .createAcc {
        font-size: 15px;
    }
    .savepassword {
        font-size: 15px;
    }
    .far {
        font-size: 20px;
    }
}