
*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(140, 4, 194);
    margin: 0;
    padding: 0;
}

.particals {
    background-color: rgb(57, 2, 79); 
    width: 100%;
    height: 1000px;
}
#particles-js {
    width: 95%;
    height: 1000px;
     background-color: rgb(57, 2, 79); 
   position: absolute;
}
.particles-container {
    display: flex;
}
  /* For container */
.container {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}
   /* for text container */
.container .text-container {
    display: flex;
    flex-direction: column;
}


  /* For Main Text  */
h1 {
    margin-top: 260px;
    color: white;
    position: absolute;
    font-size: 40px;   
    user-select: none;
    font-family: 'Bungee', cursive;
    letter-spacing: 3px;
    text-underline-offset: 11px;
    text-transform: uppercase;
    margin-left: 40px;
}.particles-container    h2 {
    position: absolute;
    color: whitesmoke;
    margin-top: 380px;
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    font-size: 30px;
    line-height: 40px;
}
h2 span {
    color: rgb(245, 218, 41);
}
h3 {
    margin-top: 630px;
    margin-left: 100px;
    color: white;
    position: absolute;
    font-size: 20px;   
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.download {
    margin-top: 700px;
    color: rgb(241, 241, 241);
    position: absolute;
    text-decoration: none;
    font-size: 30px;
    width: 220px;
    height: 55px;
    background-color: rgb(244, 143, 11);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
     border: 1px black solid;
     margin-left: 150px;
     border-radius: 15px;
}
.download-version {
    margin-top: 810px;
    margin-left: 60px;
    font-size: 20px;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
}
.download-version span {
    color: rgb(245, 218, 41);
}
.fa-cloud-arrow-down {
    padding-right: 12px;
}
.particles-img {
       position:absolute;
       width: 1000px;
       height: 580px;
       right: 35px;
       margin-top: 230px;
       user-select: none;
       margin-right: 30px;
       border-radius: 7px;
}
.particles-img img {
    width: 100%;
    height: 100%;
}
.download:hover {
    opacity: 0.9;
    color:white;
    box-shadow: 3px 8px 7px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 8px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 8px 7px 0px rgba(0,0,0,0.75);
}
.chat-icon img {
    width: 90px;
    height: 90px;
    right: 100px;
    position: fixed;
    margin-top: 830px;
}
.chat-icon img:hover{
    opacity: 0.5;
   
}

@media(max-width:1674px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 220px;
        font-size: 32px;   
        margin-left: 30px;
    }
    .particles-container  h2 {
    margin-top: 350px;
    margin-left: 70px;
    font-size: 26px;
    line-height: 40px;
    }
    h3 {
        margin-top: 610px;
        font-size: 20px;   
        letter-spacing: 3px;
        margin-left: 30px;
    }
    .download {
        margin-top: 700px;
        font-size: 28px;
        width: 200px;
        height: 55px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        margin-top: 810px;
        margin-left: 50px;
        font-size: 20px;
    }
    .fa-cloud-arrow-down {
        padding-right: 12px;
    }
    .particles-img {
        width: 850px;
        height: 500px;
        margin-right: 20px;
    }
    .chat-icon img {
        width: 80px;
        height: 80px;
        right: 100px;
        position: fixed;
        margin-top: 830px;
    }

}
@media(max-width:1550px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 220px;
        font-size: 30px;   
        margin-left: 30px;
    }
    .particles-container  h2 {
    margin-top: 350px;
    margin-left: 50px;
    font-size: 24px;
    line-height: 40px;
    }
    h3 {
        margin-top: 610px;
        font-size: 20px;   
        letter-spacing: 3px;
        margin-left: 30px;
    }
    .download {
        margin-top: 700px;
        font-size: 25px;
        width: 180px;
        height: 50px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        margin-top: 810px;
        margin-left: 20px;
        font-size: 20px;
    }
    .fa-cloud-arrow-down {
        padding-right: 12px;
    }
    .particles-img {
        width: 850px;
        height: 500px;
        margin-right: 20px;
    }
    .chat-icon img {
        width: 80px;
        height: 80px;
        right: 100px;
        position: fixed;
        margin-top: 830px;
    }

}
@media(max-width:1500px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 220px;
        font-size: 27px;   
        margin-left: 30px;
    }
    .particles-container  h2 {
    margin-top: 350px;
    margin-left: 50px;
    font-size: 24px;
    line-height: 40px;
    }
    h3 {
        margin-top: 610px;
        font-size: 20px;   
        letter-spacing: 3px;
        margin-left: 30px;
    }
    .download {
        margin-top: 700px;
        font-size: 25px;
        width: 160px;
        height: 45px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        margin-top: 810px;
        margin-left: 20px;
        font-size: 20px;
    }
    .fa-cloud-arrow-down {
        padding-right: 12px;
    }
    .particles-img {
        width: 780px;
        height: 450px;
        margin-right: 20px;
    }
    .chat-icon img {
        width: 80px;
        height: 80px;
        right: 100px;
        position: fixed;
        margin-top: 830px;
    }

}
@media(max-width:1460px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 200px;
        font-size: 35px;   
        margin-left: 280px;
    }
    .particles-container   h2 {
    margin-top: 350px;
    margin-left: 50px;
    font-size: 24px;
    line-height: 40px;
    }
    h3 {
        margin-top: 610px;
        font-size: 20px;   
        letter-spacing: 3px;
        margin-left: 30px;
    }
    .download {
        margin-top: 700px;
        font-size: 25px;
        width: 160px;
        height: 45px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        margin-top: 810px;
        margin-left: 20px;
        font-size: 20px;
    }
    .fa-cloud-arrow-down {
        padding-right: 12px;
    }
    .particles-img {
        width: 780px;
        height: 450px;
        margin-right: 20px;
        margin-top: 300px;
    }
    .chat-icon img {
        width: 80px;
        height: 80px;
        right: 100px;
        position: fixed;
        margin-top: 830px;
    }

}
@media(max-width:1430px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 200px;
        font-size: 36px;   
        margin-left: 280px;
    }
    .particles-container  h2 {
    margin-top: 350px;
    margin-left: 50px;
    font-size: 24px;
    line-height: 40px;
    }
    h3 {
        margin-top: 610px;
        font-size: 20px;   
        letter-spacing: 3px;
        margin-left: 30px;
    }
    .download {
        margin-top: 700px;
        font-size: 25px;
        width: 160px;
        height: 45px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        margin-top: 810px;
        margin-left: 20px;
        font-size: 20px;
    }
    .fa-cloud-arrow-down {
        padding-right: 12px;
    }
    .particles-img {
        width: 780px;
        height: 450px;
        margin-right: 20px;
        margin-top: 300px;
    }
    .chat-icon img {
        width: 80px;
        height: 80px;
        right: 100px;
        position: fixed;
        margin-top: 830px;
    }

}
@media(max-width:1360px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 200px;
        font-size: 34px;   
        margin-left: 280px;
    }
    .particles-container   h2 {
    margin-top: 350px;
    margin-left: 50px;
    font-size: 22px;
    line-height: 40px;
    }
    h3 {
        margin-top: 610px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 30px;
    }
    .download {
        margin-top: 730px;
        font-size: 25px;
        width: 150px;
        height: 40px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        margin-top: 810px;
        margin-left: 20px;
        font-size: 20px;
    }
    .particles-img {
        width: 760px;
        height: 430px;
        margin-right: 20px;
        margin-top: 300px;
    }
    .chat-icon img {
        width: 75px;
        height:75px;
        right: 100px;
        position: fixed;
        margin-top: 830px;
    }

}
@media(max-width:1300px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 150px;
        font-size: 36px;   
        margin-left: 300px;
    }
    .particles-container h2 {
    margin-top: 350px;
    margin-left: 20px;
    font-size: 22px;
    line-height: 40px;
    }
    h3 {
        margin-top: 600px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 30px;
    }
    .download {
        margin-top: 720px;
        font-size: 22px;
        width: 140px;
        height: 35px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        margin-top: 810px;
        margin-left: 20px;
        font-size: 20px;
    }
    .particles-img {
        width: 760px;
        height: 430px;
        margin-right: 20px;
        margin-top: 300px;
    }
    .chat-icon img {
        width: 70px;
        height:70px;
        right: 100px;
        position: fixed;
        margin-top: 830px;
    }

}
@media(max-width:1280px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 155px;
        font-size: 34px;   
        margin-left: 300px;
    }
    .particles-container   h2 {
    margin-top: 350px;
    margin-left: 20px;
    font-size: 22px;
    line-height: 40px;
    }
    h3 {
        margin-top: 600px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 30px;
    }
    .download {
        margin-top: 720px;
        font-size: 22px;
        width: 140px;
        height: 35px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        margin-top: 810px;
        margin-left: 20px;
        font-size: 20px;
    }
    .particles-img {
        width: 730px;
        height: 400px;
        margin-right: 5px;
        margin-top: 300px;
    }
    .chat-icon img {
        width: 70px;
        height:70px;
        right: 100px;
        position: fixed;
        margin-top: 830px;
    }

}
@media(max-width:1200px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 155px;
        font-size: 30px;   
        margin-left: 300px;
    }
    .particles-container  h2 {
    margin-top: 350px;
    margin-left: 20px;
    font-size: 21px;
    line-height: 40px;
    }
    h3 {
        margin-top: 600px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 30px;
    }
    .download {
        margin-top: 720px;
        font-size: 22px;
        width: 130px;
        height: 32px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        margin-top: 810px;
        margin-left: 18px;
        font-size: 20px;
    }
    .particles-img {
        width: 650px;
        height: 360px;
        margin-right: 0px;
        margin-top: 330px;
    }
    .chat-icon img {
        width: 70px;
        height:70px;
        right: 100px;
        position: fixed;
        margin-top: 830px;
    }

}
@media(max-width:1100px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 155px;
        font-size: 30px;   
        margin-left: 300px;
    }
    .particles-container   h2 {
    margin-top: 350px;
    margin-left: 20px;
    font-size: 20px;
    line-height: 40px;
    }
    h3 {
        margin-top: 600px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 30px;
    }
    .download {
        margin-top: 720px;
        font-size: 22px;
        width: 130px;
        height: 32px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        margin-top: 810px;
        margin-left: 13px;
        font-size: 20px;
    }
    .particles-img {
        width: 600px;
        height: 340px;
        margin-right: 0px;
        margin-top: 330px;
    }
    .chat-icon img {
        width: 70px;
        height:70px;
        right: 100px;
        position: fixed;
        margin-top: 830px;
    }

}

@media(max-width:1000px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 155px;
        font-size: 30px;   
        margin-left: 230px;
    }
    .particles-container  h2 {
    margin-top: 350px;
    margin-left: 20px;
    font-size: 20px;
    line-height: 40px;
    }
    h3 {
        margin-top: 600px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 30px;
    }
    .download {
        margin-top: 720px;
        font-size: 2px;
        width: 130px;
        height: 32px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        margin-top: 810px;
        margin-left: 13px;
        font-size: 15px;
    }
    .particles-img {
        width: 520px;
        height: 300px;
        margin-right: 0px;
        margin-top: 330px;
    }
    .chat-icon img {
        width: 65px;
        height:65px;
        right: 100px;
        position: fixed;
        margin-top: 830px;
    }

}
@media(max-width:950px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 155px;
        font-size: 30px;   
        margin-left: 180px;
    }
    .particles-container  h2 {
    margin-top: 350px;
    margin-left: 20px;
    font-size: 19px;
    line-height: 40px;
    }
    h3 {
        margin-top: 620px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 30px;
    }
    .download {
        margin-top: 720px;
        font-size: 19px;
        width: 120px;
        height: 32px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        margin-top: 810px;
        margin-left: 13px;
        font-size: 15px;
    }
    .particles-img {
        width: 490px;
        height: 280px;
        margin-right: 0px;
        margin-top: 330px;
    }
    .chat-icon img {
        width: 60px;
        height:60px;
        right: 100px;
        position: fixed;
        margin-top: 830px;
    }

}

@media(max-width:880px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 150px;
        font-size: 30px;   
        margin-left: 180px;
    }
    .particles-container   h2 {
    margin-top: 690px;
    margin-left: 370px;
    font-size: 19px;
    line-height: 40px;
    }
    h3 {
        margin-top:250px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 200px;
    }
    .download {
        margin-top: 720px;
        font-size: 19px;
        width: 120px;
        height: 32px;
        padding: 10px;
         margin-left: 20px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 810px;
        margin-left: 30px;
        font-size: 15px;
    }

    .particles-img {
        width: 530px;
        height: 310px;
        margin-right: 130px;
        margin-top: 330px;
    }
    .chat-icon img {
        width: 60px;
        height:60px;
        right: 60px;
        position: fixed;
        margin-top: 830px;
    }

}
@media(max-width:800px) {
    .container {
        padding-left: 40px;
    }
    h1 {
        margin-top: 150px;
        font-size: 30px;   
        margin-left: 100px;
    }
    .particles-container  h2 {
    margin-top: 690px;
    margin-left: 300px;
    font-size: 19px;
    line-height: 40px;
    }
    h3 {
        margin-top:250px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 200px;
    }
    .download {
        margin-top: 800px;
        font-size: 17px;
        width: 110px;
        height: 30px;
        padding: 10px;
         margin-left: 30px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 710px;
        margin-left: 30px;
        font-size: 13px;
    }

    .particles-img {
        width: 530px;
        height: 310px;
        margin-right: 100px;
        margin-top: 330px;
    }
    .chat-icon img {
        width: 55px;
        height:55px;
        right: 30px;
        position: fixed;
        margin-top: 850px;
    }

}
@media(max-width:750px) {

    h1 {
        margin-top: 90px;
        font-size: 30px;   
        margin-left: 50px;
    }
    .particles-container  h2 {
    margin-top: 690px;
    margin-left: 300px;
    font-size: 19px;
    line-height: 40px;
    }
    h3 {
        margin-top:200px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 150px;
    }
    .download {
        margin-top: 800px;
        font-size: 17px;
        width: 110px;
        height: 30px;
        padding: 10px;
         margin-left: 30px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 710px;
        margin-left: 30px;
        font-size: 13px;
    }

    .particles-img {
        width: 530px;
        height: 310px;
        margin-right: 70px;
        margin-top: 330px;
    }
    .chat-icon img {
        width: 55px;
        height:55px;
        right: 30px;
        position: fixed;
        margin-top: 850px;
    }

}
@media(max-width:750px) {

    h1 {
        margin-top: 90px;
        font-size: 30px;   
        margin-left: 50px;
    }
    .particles-container    h2 {
    margin-top: 690px;
    margin-left: 300px;
    font-size: 17px;
    line-height: 40px;
    }
    h3 {
        margin-top:200px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 150px;
    }
    .download {
        margin-top: 800px;
        font-size: 17px;
        width: 110px;
        height: 30px;
        padding: 10px;
         margin-left: 30px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 710px;
        margin-left: 30px;
        font-size: 13px;
    }

    .particles-img {
        width: 530px;
        height: 310px;
        margin-right: 40px;
        margin-top: 330px;
    }
    .chat-icon img {
        width: 55px;
        height:55px;
        right: 30px;
        position: fixed;
        margin-top: 890px;
    }
}
@media(max-width:650px) {

    h1 {
        margin-top: 90px;
        font-size: 26px;   
        margin-left: 30px;
    }
    .particles-container   h2 {
    margin-top: 690px;
    margin-left: 250px;
    font-size: 17px;
    line-height: 40px;
    }
    h3 {
        margin-top:200px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 100px;
    }
    .download {
        margin-top: 800px;
        font-size: 17px;
        width: 100px;
        height: 28px;
        padding: 10px;
         margin-left: 30px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 710px;
        margin-left: 30px;
        font-size: 13px;
    }

    .particles-img {
        width: 530px;
        height: 310px;
        margin-right: 20px;
        margin-top: 330px;
    }
    .chat-icon img {
        width: 55px;
        height:55px;
        right: 30px;
        position: fixed;
        margin-top: 890px;
    }
}
@media(max-width:600px) {

    h1 {
        margin-top: 90px;
        font-size: 26px;   
        margin-left: 30px;
    }
    .particles-container   h2 {
    margin-top: 690px;
    margin-left: 250px;
    font-size: 17px;
    line-height: 40px;
    }
    h3 {
        margin-top:200px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 100px;
    }
    .download {
        margin-top: 800px;
        font-size: 17px;
        width: 100px;
        height: 28px;
        padding: 10px;
         margin-left: 30px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 710px;
        margin-left: 30px;
        font-size: 13px;
    }

    .particles-img {
        width: 500px;
        height: 300px;
        margin-right: 20px;
        margin-top: 330px;
    }
    .chat-icon img {
        width: 55px;
        height:55px;
        right: 30px;
        position: fixed;
        margin-top: 890px;
    }
}
@media(max-width:570px) {

    h1 {
        margin-top: 90px;
        font-size: 24px;   
        margin-left: 10px;
    }
    .particles-container   h2 {
    margin-top: 780px;
    margin-left: 40px;
    font-size: 19px;
    line-height: 35px;
    }
    h3 {
        margin-top:200px;
        font-size: 18px;   
        letter-spacing: 3px;
        margin-left: 50px;
    }
    .download {
        margin-top: 700px;
        font-size: 17px;
        width: 100px;
        height: 28px;
        padding: 10px;
         margin-left: 150px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 630px;
        margin-left: 50px;
        font-size: 13px;
    }

    .particles-img {
        width: 440px;
        height: 265px;
        margin-right: 8px;
        margin-top: 300px;
    }
    .chat-icon img {
        width: 55px;
        height:55px;
        right: 50px;
        position: fixed;
        margin-top: 850px;
    }
}
@media(max-width:500px) {

    h1 {
        margin-top: 90px;
        font-size: 20px;   
        margin-left: 0px;
    }
    .particles-container   h2 {
    margin-top: 720px;
    margin-left: 60px;
    font-size: 16px;
    line-height: 35px;
    }
    h3 {
        margin-top:200px;
        font-size: 12px;   
        letter-spacing: 3px;
        margin-left: 10px;
    }
    .download {
        margin-top: 650px;
        font-size: 17px;
        width: 100px;
        height: 28px;
        padding: 10px;
         margin-left: 150px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 600px;
        margin-left: 50px;
        font-size: 13px;
    }

    .particles-img {
        width: 400px;
        height: 245px;
        margin-right: 8px;
        margin-top: 300px;
    }
    .chat-icon img {
        width: 55px;
        height:55px;
        right: 50px;
        position: fixed;
        margin-top: 850px;
    }
}
@media(max-width:450px) {

    h1 {
        margin-top: 90px;
        font-size: 20px;   
        margin-left: 0px;
    }
    .particles-container  h2 {
    margin-top: 720px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 35px;
    }
    h3 {
        margin-top:200px;
        font-size: 12px;   
        letter-spacing: 3px;
        margin-left: 10px;
    }
    .download {
        margin-top: 650px;
        font-size: 17px;
        width: 100px;
        height: 25px;
        padding: 10px;
         margin-left: 100px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 600px;
        margin-left: 5px;
        font-size: 13px;
    }

    .particles-img {
        width: 370px;
        height: 225px;
        margin-right: 8px;
        margin-top: 300px;
    }
    .chat-icon img {
        width: 55px;
        height:55px;
        right: 50px;
        position: fixed;
        margin-top: 850px;
    }
}
@media(max-width:400px) {

    h1 {
        margin-top: 90px;
        font-size: 15px;   
        margin-left: 0px;
    }
    .particles-container  h2 {
    margin-top: 720px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 35px;
    }
    h3 {
        margin-top:180px;
        font-size: 10px;   
        letter-spacing: 3px;
        margin-left: 10px;
    }
    .download {
        margin-top: 650px;
        font-size: 17px;
        width: 100px;
        height: 25px;
        padding: 10px;
         margin-left: 60px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 550px;
        margin-left: 25px;
        font-size: 13px;
    }

    .particles-img {
        width: 320px;
        height: 185px;
        margin-right: 8px;
        margin-top: 300px;
    }
    .chat-icon img {
        width: 50px;
        height:50px;
        right: 50px;
        position: fixed;
        margin-top: 880px;
    }
}
@media(max-width:350px) {

    h1 {
        margin-top: 90px;
        font-size: 11px;   
        margin-left: 0px;
    }
    .particles-container    h2 {
    margin-top: 650px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 35px;
    }
    h3 {
        margin-top:150px;
        font-size: 7px;   
        letter-spacing: 3px;
        margin-left: 10px;
    }
    .download {
        margin-top: 550px;
        font-size: 17px;
        width: 100px;
        height: 25px;
        padding: 10px;
         margin-left: 60px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 470px;
        margin-left: 25px;
        font-size: 13px;
    }

    .particles-img {
        width: 290px;
        height: 165px;
        margin-right: 8px;
        margin-top: 250px;
    }
    .chat-icon img {
        width: 45px;
        height:45px;
        right: 50px;
        position: fixed;
        margin-top: 880px;
    }
}
@media(max-width:300px) {

    h1 {
        margin-top: 90px;
        font-size: 8px;   
        margin-left: 0px;
    }
    .particles-container   h2 {
    margin-top: 600px;
    margin-left: 1px;
    font-size: 14px;
    line-height: 35px;
    }
    h3 {
        margin-top:150px;
        font-size: 7px;   
        letter-spacing: 3px;
        margin-left: 10px;
    }
    .download {
        margin-top: 520px;
        font-size: 17px;
        width: 100px;
        height: 25px;
        padding: 10px;
         margin-left: 40px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 430px;
        margin-left: 4px;
        font-size: 13px;
    }

    .particles-img {
        width: 240px;
        height: 130px;
        margin-right: 8px;
        margin-top: 230px;
    }
    .chat-icon img {
        width: 45px;
        height:45px;
        right: 50px;
        position: fixed;
        margin-top: 820px;
    }
}
@media(max-width:250px) {

    h1 {
        margin-top: 90px;
        font-size: 8px;   
        margin-left: -30px;
    }
    .particles-container   h2 {
    margin-top: 600px;
    margin-left: -20px;
    font-size: 12px;
    line-height: 30px;
    }
    h3 {
        margin-top:150px;
        font-size: 7px;   
        letter-spacing: 3px;
        margin-left: -20px;
    }
    .download {
        margin-top: 500px;
        font-size: 15px;
        width: 90px;
        height: 23px;
        padding: 10px;
         margin-left: 10px;
         border-radius: 15px;
    }
    .download-version {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 400px;
        margin-left: 0px;
        font-size: 10px;
    }

    .particles-img {
        width: 200px;
        height: 115px;
        margin-right: 5px;
        margin-top: 230px;
    }
    .chat-icon img {
        width: 45px;
        height:45px;
        right: 40px;
        position: fixed;
        margin-top: 820px;
    }
}
